<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Angel Mora | Desarrollador web</title>
        <link rel="icon" href="{{ url_for('static', path='/portfolio/yo.ico') }} " type="image/x-icon">
        <meta property="og:title" name="twitter:title" content="Angel Mora | Desarrollador web">
        <meta name="description"
            content="Soy un desarrollador web interesado en ayudarte a impulsar y hacer crecer tu idea o negocio con una página web única y llamativa para las personas y que este disponible en diferentes tipos de dispositivos." />
        <meta name="robots" content="index" />
        <meta name="robots" content="follow" />
        <meta name="author" content="Angel Mora" />
        <meta name="keywords"
            content="porfolio,portafolio, portfolio, desarrollador web, front-end, Frontend, developer,programador , programador web, pagina web" />
        <meta name="MobileOptimized" content="width" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="twitter:card" content="summary" />
        <meta property="og:type" content="website" />
        <meta property="og:title" name="twitter:title" content="Portafolio - Angel Mora" />
        <meta property="og:image" name="twitter:image"
            content="https://res.cloudinary.com/angelmora/image/upload/v1643739680/proyects/yo_c19q4r.jpg" />
        <link rel="preconnect" href="https://cdn.jsdelivr.net">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="static/main.css">
        <link rel="preconnect" href="https://cdnjs.cloudflare.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://kit.fontawesome.com/359d976046.js" crossorigin="anonymous"></script>
        <script defer>
            document.addEventListener('DOMContentLoaded', function () {
                const navToggle = document.querySelectorAll(".nav-toggle")[0];
                const navMenu = document.querySelectorAll(".navbar-ul")[0];
                const navlinks = document.querySelectorAll(".nav-link");
                for (var i = 0; i < navlinks.length; i++) {
                    navlinks[i].addEventListener("click", function () {
                        if (navMenu.classList.contains("nav-menu_visible")) {
                            navMenu.classList.remove("nav-menu_visible")
                        }
                    });
                }
                navToggle.addEventListener("click", function () {
                    navMenu.classList.toggle("nav-menu_visible");
                    if (navMenu.classList.contains("nav-menu_visible")) {
                        navToggle.setAttribute("aria-label", "Cerrar menú");
                    } else {
                        navToggle.setAttribute("aria-label", "Abrir menú");
                    }
                });
                window.addEventListener('scroll', function () {
                    var titles = document.querySelectorAll('.fade_left');
                    var menu = document.querySelectorAll('.fa-bars')[0];
                    for (var i = 0; i < titles.length; i++) {
                        var altura = window.innerHeight / 1.3;
                        var distancia = titles[i].getBoundingClientRect().top;
                        titles[i].classList.add('transform_left');
                        if (distancia <= altura) {
                            titles[i].classList.add('aparecer');
                        } else {
                            titles[i].classList.remove('aparecer');
                        }
                    }
                    if (menu.className === "topnav") {
                        menu.classList.add("responsive");
                    } else {
                        menu.classList.remove("responsive");
                    }
                });
            });
        </script>
    </head>

    <body>
        <nav id="navbar-example2" class="navbar"> <a class="navbar-brand fw-bold fst-italic" href="/"> AM </a>
            <button class="nav-toggle" aria-label="Abrir menú"> <i class="fas fa-bars"></i> </button>
            <ul class="navbar-ul">
                <li class="nav-item"> <a class="nav-link " href="#main">Main</a> </li>
                <li class="nav-item"> <a class="nav-link " href="#sobre-mi">Sobre Mi</a> </li>
                <li class="nav-item"> <a class="nav-link " href="#mi-skills">Skills</a> </li>
                <li class="nav-item"> <a class="nav-link " href="#mi-projects">Mis Proyectos</a> </li>
            </ul>
        </nav>
        <section id="main" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0"
            class=" scrollspy-example header-me" tabindex="0">
            <div class="info-header__me animate__animated animate__zoomInDown">
                <h1>Hola,<br>Soy <b style="color: #fff;">Angel Mora</b> </h1>
                <h2>Desarrollador web</h2>
                <ul class="links-social__contact">
                    <li>
                        <a href="https://www.linkedin.com/in/angel-mora-a1a959207/" rel="noopener noreferrer"
                            title="linkedin" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="linkedin"> <i class="fab fa-linkedin"></i> </a>
                    </li>
                    <li>
                        <a href="https://github.com/AngelMApps" rel="noopener noreferrer" title="github" target="_blank"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="github"> <i
                                class="fab fa-github"></i> </a>
                    </li>
                    <li>
                        <a href="mailto: angel456mora123@gmail.com" rel="noopener noreferrer" title="correo"
                            target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="email"> <i
                                class="fas fa-envelope"></i> </a>
                    </li>
                    <li>
                        <a href="https://api.whatsapp.com/send/?phone=+51983785116&text&app_absent=0"
                            rel="noopener noreferrer" title="whatsapp" target="_blank" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="whatsapp"> <i class="fab fa-whatsapp"></i> </a>
                    </li>
                </ul>
            </div>
            <img decoding="async" loading="lazy" class="avatar animate__animated animate__fadeInDown animate__slow"
                src="static/portfolio/profile.jpg" alt="avatar" />
        </section>
        <section id="sobre-mi" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0"
            class="scrollspy-example section-sobre__mi" tabindex="0">
            <h2 class="fade_left">¿Quién Soy?</h2>
            <hr>
            <p> <b>Me llamo Angel Mora, tengo 18 años y soy un desarrollador web de Lima - Perú.</b> <br>Estoy
                interesado en ayudarte a impulsar y hacer crecer tu idea o negocio con el <br>desarrollo de una
                página web única y llamativa para las personas<br>y
                que este disponible en diferentes tipos de dispositivos. </p>
            <img decoding="async" loading="lazy" class="avatar" src="static/portfolio/yo.jpeg" alt="avatar" />

        </section>
        <section id="mi-skills" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="1"
            class="scrollspy-example section-mi__skills" tabindex="1">
            <h2 class="fade_left">My Skills</h2>
            <hr>
            <div class="container">
                <div class="row">{% for icono in iconos %}
                    <div class="card card-skills col-6 col-sm-3 col-md-4">
                        <div class="card-body"> <img decoding="async" loading="lazy" src="static/{{icono.icon}}"
                                alt="{{icono.name}}" />
                            <h5 class="card-title">{{icono.name}}</h5>
                        </div>
                    </div>{% endfor %}
                </div>
            </div>
        </section>
        <section id="mi-projects" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="2"
            class="scrollspy-example section-mi__projects" tabindex="2">
            <h2 class="fade_left">Mis Projectos</h2>
            <hr>
            <div class="container">
                <div class="row" style="--bs-gutter-x: 0rem;">

                </div>
                <div class="row" style="--bs-gutter-x: 0rem;">{% for project in projects %}
                    <div class="card card-project col-6 col-sm-3 col-md-4"> <img src="{{project.ProjectImage}}"
                            class="card-img-top" alt="image" />
                        <div class="card-body">
                            <h5 class="card-title">{{project.ProjectName}}</h5>
                            <p class="card-text">{{project.ProjectDescription}}</p>
                            <div class="card-footer">
                                <a href="{{project.ProjectURL}}" rel="noopener noreferrer"
                                    title="{{project.ProjectName}}" target="_blank"> <i
                                        class="fas fa-external-link-alt"></i>
                                </a>
                                <a href="{{project.ProjectCode}}" rel="noopener noreferrer"
                                    title="{{project.ProjectName}}" target="_blank"> <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>{% endfor %}
                </div>
            </div>
        </section>
    </body>

</html>